html {
  
  font-size: 10px;
}

body {
  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: white;
  margin: 0;
}
h1{font-size: 4rem;}
#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background:url(https://wallpaperplay.com/walls/full/9/d/f/104426.jpg);
}
#title{
  text-align:center;
  color:white;
  
}
.logo{
  width:200px;
  height:200px;
  opacity:0.9;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#image{
  width:1150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity:0.9;
  }
#img-caption{
  color:white;
  font-size:20px;
  font-family:arial black;
}
#img-div {
  padding: 10px;
  margin: 0;
}
.container{
  width:1210px;
  margin:70px auto 0;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}
.container .box{
  position:relative;
  width:280px;
  height:280px;
  background:#ff0;
  margin:10px;
  box-sizing:border-box;
  display:inline-block;
  
}
.container .box .imgbox{
  position:relative; 
  overflow:hidden;
}
.container .box .imgbox img{
  max-width:100%;
  transition: transform 2s;
}
.container .box:hover .imgbox img{
  transform:scale(1.2);
}
.container .box .details{
  position:absolute;
  top:10px;
  left:10px;
  bottom:10px;
  right:10px;
  background:rgba(0,0,0,0.8);
  transform:scaleY(0);
  transition:transform .5s;
}
.container .box:hover .details{
  transform:scaleY(1);
}
.container .box .details .content{
  position:absolute;
  top:3%;
  transform:translateY(-10%);
  text-align:center;
  padding:15px;
  
}
.sectionVid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  width: 100%;
  height: 20vw;
}

.vidContainer{
  width: 100%;
 height: auto; 
}

   .musicVid{ 
  width: 100%;
  height: 100%;
}   
.links{
  height:50px;
  width:50px;
  border-radius:20px;
}
 
